*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  user-select: none;
}

:root {
  --dark: #334;
  --light: #CCD;
  --light-trans: rgba(204,204,221,.5);
  --uv-move-up: -10vh;
}

@media (min-height: 100vw) {
  :root {
    --uv-move-up: -5vh;
  }
}